<div class="container">
    <p class="lead text-center">You can delete individual users here.</p>
    <div class="row">
        <div class="col-md-12">
            <div class="role-select pull-right">
                <p><strong>Filter user role by:</strong></p>
                <select class="form-control" ng-model="admin.filter" class="text-center">
                    <option value="">None</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in admin.filteredUsers | filter: admin.filter ">
            <strong ng-bind="user.name"></strong>
            <br>
            <span class="text-muted">{{user.email}}</span>
            <span ng-click="admin.deleteUser(user)" class="trash lead"><span class="fa fa-trash-o pull-right"></span></span>
            <span ng-click="admin.updateRole(user)" ng-disabled="!user.modified" ng-class="user.modified ? 'text-primary' : 'text-default'" class="lead"><span class="fa fa-floppy-o pull-right"></span></span>
            <div class="role-select pull-right">
                <select class="form-control" ng-model="user.role" class="pull-right" ng-change="admin.userModified(user)">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </div>
        </li>
        <pagination total-items="admin.totalItems" items-per-page="admin.itemsPerPage" ng-model="admin.currentPage" ng-change="admin.pageChanged()"></pagination>
    </ul>
    <hr>
    <p class="lead text-center">Approve or delete pending topics here.</p>
    <div class="row">
        <accordion close-others="admin.closeOthers">
            <div class="col-sm-6" ng-repeat-start="topic in admin.topics | filter: admin.filtered">
                <accordion-group is-open="admin.isOpen[$index]">
                    <accordion-heading>
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="text-primary" ng-bind="topic.title"></h4>
                                <p ng-bind="topic.length"></p>
                                <p>by <span ng-bind="topic.author"></span></p>
                            </div>
                            <div class="col-sm-3">
                                <p class="text-right">
                                    <i class="fa" ng-class="{'fa-angle-double-down': admin.isOpen[$index], 'fa-angle-double-right': !admin.isOpen[$index]}"></i>
                                </p>
                            </div>
                        </div>
                    </accordion-heading>
                    <div class="row">
                        <div class="col-sm-10">
                            <p class="lead" ng-bind="topic.description"></p>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" ng-click="admin.approveTopic(topic)" class="pull-left lead"><span class="text-success fa fa-check"></span></a>
                            <a href="#" ng-click="admin.deleteTopic(topic._id)" class="pull-right lead"><span class="fa fa-trash-o text-danger"></span></a>
                        </div>
                    </div>
                    <p ng-bind="topic.content"></p>
                </accordion-group>
            </div>
            <div class="clearfix" ng-if="$index%2==1"></div>
            <div ng-repeat-end=""></div>
        </accordion>
    </div>
</div>
<alert-messages></alert-messages>
