<alert-messages></alert-messages>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <!-- <div class="row">
        <div class="col-sm-12">
          <h2>Change User Image</h2>
          <div class="col-sm-3">
            <form class="form" ng-submit="uploadFile()">
              <div class="form-group">
                <file-field class="btn" ng-model="myFile" ng-class="{'btn-default':uploadFile}" preview="previewImage">Select File</file-field>
                <p><i>File size must be less than 1mb</i></p>
              </div>
              <button type="submit" class="btn btn-lg btn-primary">Submit</button>
            </form>
          </div>
          <div class="col-sm-2" ng-show="previewImage">
            <span class="lead">Preview: </span>
            <img ng-src="{{previewImage}}" width="50">
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-12">
          <h2>Change Password</h2>
        </div>
        <div class="col-sm-12">
          <form class="form" name="passwordForm" ng-submit="changePassword(passwordForm)" novalidate>

            <div class="form-group">
              <label>Current Password</label>

              <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                     mongoose-error/>
              <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ errors.other }}
              </p>
            </div>

            <div class="form-group">
              <label>New Password</label>

              <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                     ng-minlength="8"
                     required/>
              <p class="help-block"
                 ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                Password must be at least 8 characters.
              </p>
            </div>

            <p class="help-block"> {{ message }} </p>

            <button class="btn btn-lg btn-primary" type="submit">Save password</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <h2>Attention Speakers:</h2>
      <h5>Please submit the applicable information below so we can get the word out about you!</h5>

      <form class="form-horizontal" ng-submit="saveBio(bioForm)" name="bioForm" novalidate>
        <div class="form-group">
          <label for="twitter" class="col-sm-1 control-label"><i class="fa fa-twitter fa-2x"></i></label>
          <div class="col-sm-11">
            <input id="twitter" type="text" class="form-control" ng-model="user.about.twitter"/>
          </div>
        </div>
        <div class="form-group">
          <label for="google-plus" class="col-sm-1 control-label"><i class="fa fa-google-plus fa-2x"></i></label>
          <div class="col-sm-11">
            <input id="google-plus" type="text" class="form-control" ng-model="user.about.googlePlus"/>
          </div>
        </div>
        <div class="form-group">
          <label for="linkedin" class="col-sm-1 control-label"><i class="fa fa-linkedin-square fa-2x"></i></label>
          <div class="col-sm-11">
            <input id="linkedin" type="text" class="form-control" ng-model="user.about.linkedIn"/>
          </div>
        </div>
        <div class="form-group">
          <label for="github" class="col-sm-1 control-label"><i class="fa fa-github fa-2x"></i></label>
          <div class="col-sm-11">
            <input id="github" type="text" class="form-control" ng-model="user.about.github"/>
          </div>
        </div>
        <div class="form-group">
          <label for="bio" class="col-sm-6"><h5>About You:</h5></label>
          <div class="col-sm-12">
            <textarea id="bio" type="text" class="form-control" ng-model="user.about.bio"></textarea>
          </div>
        </div>
        <button class="btn btn-lg btn-primary pull-right" type="submit">Save changes</button>
      </form>
    </div>
  </div>

</div>
