<alert-messages></alert-messages>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<p>** Please make sure you are registered so you can vote on the topics.</p>
		</div>
	<div class="col-sm-2 text-center">
		<!-- <img src="{{topic.detail.image}}" alt="{{topic.detail.name}}"> -->
	</div>
    <div class="col-sm-10">
		<div class="row">
			<div class="col-sm-8">
				<h3 ng-bind="topic.detail.author"></h3>
			</div>
			<div class="col-sm-4">
				<h4 class="text-right">
					votes: <span class="label label-success" ng-bind="topic.detail.votes"></span>  <button class="btn btn-default btn-sm fa fa-angle-up" ng-class="{'btn-primary': !topic.disabled, 'btn-default': topic.disabled}" ng-click="topic.vote(topic.detail)" ng-show="topic.isLoggedIn()" ng-disabled="topic.disabled"></button>
				</h4>
			</div>
		</div>
    	<h3><span ng-bind="topic.detail.title" class="text-primary"></span></h3>
    	<h5 ng-bind="topic.detail.length"></h5>
    	<p class="lead" ng-bind="topic.detail.content"></p>
    </div>
  </div>
</div>
