<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Login</h1>
            <p>Please sign into your account or <a href="/signup">register</a>.</p>
        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="login.login(form)" novalidate>

                <div class="form-group">
                    <label>Email</label>

                    <input type="email" name="email" class="form-control" ng-model="login.user.email" required>
                </div>

                <div class="form-group">
                    <label>Password</label>

                    <input type="password" name="password" class="form-control" ng-model="login.user.password" required>
                </div>

                <div class="form-group has-error">
                    <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">Please enter your email and password.</p>
                    <p class="help-block" ng-show="form.email.$error.email && submitted">Please enter a valid email.</p>

                    <p class="help-block">{{ login.errors.other }}</p>
                </div>

                <div>
                    <button class="btn btn-inverse btn-lg btn-login" type="submit">
                        Login
                    </button>
                    <a class="btn btn-default btn-lg btn-register" href="/signup">Register</a>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>
