<div class="container">
	<div class="col-sm-9 col-sm-offset-1">
    <alert-messages></alert-messages>
		<h2 class="text-center">Submit a Topic!</h2>
		<h4 class="text-center">We're looking for YOUR passionate ideas and expertise to complete <strong>Dev Workshop Conf 2015</strong></h4>
		<p class="text-center lead">Submit your idea below and let the community help decide <a href="http://youtu.be/o5FT3IGXtAk?t=1m38s" target="_blank">if you're worthy</a>.</p>
		<form class="form-horizontal" ng-submit="addTopic.submit()">
			<div class="form-group form-group-lg">
				<label class="col-sm-3 control-label">Desired Length:</label>
				<div class="col-sm-9">
					<select class="form-control" ng-model="addTopic.formData.length">
					  <option value="Session (50 Minutes)">Session (50 minutes)</option>
					  <option value="Mini Workshop (1hr 50 minutes)">Mini Workshop (1hr 50 minutes)</option>
					</select>
				</div>
			</div>
		  <div class="form-group form-group-lg">
		    <label class="col-sm-3 control-label" for="topicName">Topic Title</label>
		    <div class="col-sm-9">
		      <input class="form-control" type="text" id="topicName" placeholder="Enter topic title" ng-model="addTopic.formData.title">
		      <span class="help-block"></span>
		    </div>
		  </div>
		  <div class="form-group form-group-lg">
		    <label class="col-sm-3 control-label" for="topicDescription">Topic Description</label>
		    <div class="col-sm-9">
		      <input class="form-control" type="text" id="topicDescription" placeholder="Enter a short description" ng-model="addTopic.formData.description">
		      <span class="help-block"></span>
		    </div>
		  </div>
		  <div class="form-group form-group-lg">
		    <label class="col-sm-3 control-label" for="topicContent">Topic Content</label>
		    <div class="col-sm-9">
		      <textarea class="form-control" id="topicContent" rows="10" placeholder="Enter the details of your topic" ng-model="addTopic.formData.content"></textarea>
		    </div>
		  </div>
		  <div class="col-sm-4 col-sm-offset-3">
		  	<button type="submit" class="btn btn-primary">Submit</button>
		  </div>
		</form>
	</div>
</div>
