@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

@font-face {
  font-family: Franchise;
  src: url('./fonts/Franchise-Bold.ttf');
}

@font-face {
  font-family: American;
  src: url('./fonts/American-Captain.ttf');
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.label-as-badge {
    border-radius: 1em;
}

.img-thumb {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.main-accordion {
  margin-top: 10px;
}

.fa-spin-hover:hover {
  .fa-cog {
    -webkit-animation-name: fa-spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: fa-spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
@-ms-keyframes fa-spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes fa-spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes fa-spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes fa-spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'main/main.less';
@import 'topics/topics.less';
@import 'alert_message/alerts.less';
@import 'less/dwi-variables.less';
@import 'less/paper/bootswatch.less';
@import 'less/paper/variables.less';
@import 'modal/modal.less';
// endinjector
