<div class="container">
	<div class="col-sm-10 col-sm-offset-1" ng-repeat="topic in topics.topics | orderBy:topics.orderProp:reverse | filter:topics.filtered">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<div class="row">
		  		<div class="col-sm-8">
		  		<!-- <img src="{{topic.image}}" alt="{{topic.author}}" class="img-circle" width="75" height="75">  -->
		  			<h4 ng-bind="topic.author"></h4>
		  		</div>
		  		<div class="col-sm-4">
		  			<h4 class="text-right"><span class="label label-success pull-right">votes: {{topic.votes}}</span></h4>
		  		</div>
		  	</div>
		  </div>
      <div class="panel-body">
        <h3><a href="/topic/{{topic._id}}" ng-bind="topic.title"></a></h3>
        <p class="lead" ng-bind="topic.description"></p>
      </div>
		</div>
	</div>
</div>
