<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl as nav">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Dev Workshop Conf</a>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ng-class="{active: nav.isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-class="{active: nav.isActive('/topics')}"><a href="/topics">Topics</a></li>
        <li ng-class="{active: nav.isActive('/submit-topic')}"><a href="/submit-topic">Submit Topic</a></li>
        <li ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login">Login</a></li>
        <!-- <li ng-show="nav.isLoggedIn()">
            <img class="img-thumb" src="{{nav.getCurrentUser().image}}" alt="{{ nav.getCurrentUser().name }}"/>
        </li> -->
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p></li>
        <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/settings')}"><a href="/settings" class="fa-spin-hover"><i class="fa fa-cog"></i></a></li>
        <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/logout')}"><a href="" ng-click="nav.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
