@dwi-dark-blue:          rgb(0, 103, 172);   // #0067AC
@dwi-corporate-blue:     rgba(0, 45, 98, 1);
@dwi-dark-lime-green:    rgb(0, 133, 13);    // #00850D
@dwi-bright-green:       rgb(133, 196, 70);  // #85C446
@dwi-medium-blue:        rgb(23, 101, 157);  // #17659D
@dwi-light-blue:         rgb(51, 153, 204);  // #3399CC
@dwi-darkest-grey:       rgb(51, 51, 51);    // #333333
@dwi-dark-grey:          rgb(64, 64, 64);    // #404040
@dwi-dark-grey-blue:     rgb(81,89,103);     // #515967
@dwi-even-darker-grey:   rgb(102,102,102);   // #666666
@dwi-mid-grey:           rgb(153, 153, 153); // #999999
@dwi-mid-dark-grey:      rgb(136, 136, 136); // #888888
@dwi-gray:               rgb(173,173,173);   // #adadad
@dwi-grey:               rgb(187, 188, 190); // #BBBCBE
@dwi-more-off-white:     rgb(245,245,245);   // #f5f5f5
@dwi-off-white:          rgb(247,247,247);   // #f7f7f7
@dwi-less-off-white:     rgb(249,249,249);   // #f9f9f9

// Greyscale
@white:                   rgb(255, 255, 255); // #FFFFFF
@dwi-off-white:          rgb(248, 248, 248); // #F8F8F8
@dwi-very-light-grey:    rgb(225,225,225);   // #e1e1e1
@dwi-lightest-grey:      rgb(222, 222, 223); // #DEDEDF
@dwi-light-grey:         rgb(204, 204, 204); // #CCCCCC
@dwi-dark-grey-green:    rgb(140,151,146);   // #8C9792
@dwi-very-dark-grey:     rgb(68, 68, 68);    // #444444
@black:                   rgb(0,0,0);         // #000000

@dwi-soft-cyan:          rgb(91,192,222);    // #5BC0DE
@dwi-bright-blue:        rgb(66, 139, 202);  // #428BCA
@dwi-strong-blue:        rgb(23, 119, 185);  // #1777B9
@dwi-darkest-blue:       rgb(0, 45, 98);     // #002D62

// Additional UI Colors
@dwi-soft-red:           rgb(217,83,79);     // #D9534F
@dwi-grayish-red:        rgb(229,228,228);   // #E5E4E4
@dwi-dark-red:           rgb(104,12,10);     // #680c0a
@dwi-very-dark-orange:   rgb(85,63,3);       // #553f03
@dwi-medium-green:       rgb(92,184,92);     // #5CB85C
@dwi-mod-lime-green:     rgb(84,189,69);     // #54bd45
@dwi-dark-green:         rgb(27,63,0);       // #1b3f00
@dwi-less-dark-blue:     rgb(1,77,139);      // #014d8b
@dwi-pure-yellow:        rgb(253,220,0);     // #fddc00
@dwi-very-light-blue:    rgb(241,249,255);   // #F1F9FF

// Messaging Colors
@dwi-error:              rgb(169, 68, 66);   // #A94442
