<header class="hero-unit" id="banner">
    <div class="container">
            <h1>DEV WORKSHOP CONF 2015</h1>
            <h2>SPEAKER SUBMISSIONS</h2>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h5>Dev Workshop wants to make sure you have the best experience while attending the conference. To help
                ensure that, we encourage you to vote on your favorite topics so we can make sure you get the best
                sessions available. Note: You have to register to vote on topics.</h5>

            <p>** By registering you are also signing up for the Dev Workshop mailing list.</p>

            <h2 class="page-header">TOPIC SUBMISSIONS:</h2>

            <div class="row">
                <accordion close-others="main.closeOthers">
                    <div class="col-sm-4 main-accordion"
                         ng-repeat-start="topic in main.topics | orderBy:main.orderProp:reverse | filter: main.filtered">
                        <accordion-group is-open="main.isOpen[$index]">
                            <accordion-heading>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h4 ng-bind="topic.title"></h4>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="text-right">
                                            <i class="fa"
                                               ng-class="{'fa-angle-double-down': main.isOpen[$index], 'fa-angle-double-right': !main.isOpen[$index]}"></i>
                                        </p>

                                        <div class="text-right">
                                            <p class="label label-success">votes: <span ng-bind="topic.votes"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </accordion-heading>
                            <h5 ng-bind="topic.author"></h5>

                            <p><span ng-bind="topic.description"></span> <a href="/topic/{{topic._id}}">Go</a></p>
                        </accordion-group>
                    </div>
                    <div class="clearfix" ng-show="$index%3==2"></div>
                    <div ng-repeat-end=""></div>
                </accordion>
            </div>
        </div>
    </div>
</div>
