<!-- alerts will appear here -->
<div class="alertsContainer">
    <div class="floating">
        <span class="alert alert-{{ message.type }}" ng-repeat="message in alerts">
            <i class="fa fa-{{ message.icon }}" ng-show="message.icon"></i>
            <strong>{{ message.title }}</strong>
            <span>{{ message.text }}</span>
            <button type="button" class="close floatingClose" data-dismiss="alert" ng-click="message.close();">&times;</button>
        </span>
    </div>
</div>
