//
// Alerts
// --------------------------------------------------

.label-no {
  background-color: @dwi-grayish-red;
  color: @dwi-darkest-grey;
  text-transform:none;
  letter-spacing:.4px;
  border:1px solid @dwi-gray;
}
.label-yes {
  background-color: #c8c8c8;
  color: @black;
  text-transform:none;
  letter-spacing:.4px;
  border:1px solid @dwi-mid-grey;
  text-shadow: 0 0 2px @white;
}

.alert-thin {
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 3px 10px 3px 10px;
}

.label {
  font-size: 90%;
  font-weight: 500;
  padding: 1px 4px;
}

.alert-text {
  color: #a94442;
  font-weight:bold;
}

/* Used with icons as statuses for CHECKBOXES */
.yes-label {
  color: @dwi-dark-lime-green;
  font-size:1.5rem;
  font-weight:bold;
}

.no-label {
  color: @dwi-mid-grey;
  font-size:1.5rem;
}

.alert-danger {
  border-color: @dwi-dark-red;
  color: #f2dede;
  background: #a23634 none;
  letter-spacing:.5px;
}

button.floatingClose {
  float: none;
  margin-top: 10px;
  top: 1px;
  padding: 10px 0 !important;
  margin-left: 10px;
}

.floating {
  position: absolute;
  top: 30%;
  z-index: 9998;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.icon-default {
  background-color: @dwi-more-off-white;
  color: @dwi-grey !important;
  letter-spacing: .5px;
  border: 1px solid #DDD;
  border-radius: 10px;
  min-width: 1em;
}

.icon-default:hover {
  background-color: #ddd;
  color: @dwi-even-darker-grey !important;
  letter-spacing: .5px;
  border: 1px solid #DDD;
  border-radius: 10px;
  min-width: 1em;
  cursor: pointer;
}

// Base styles
// -------------------------

.alert {
  padding: @alert-padding;
  margin-bottom: @line-height-computed;
  border: 1px solid transparent;
  border-radius: @alert-border-radius;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing @headings-color
    color: inherit;
  }
  // Provide class for links that match alerts
  .alert-link {
    font-weight: @alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: (@alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  .alert-variant(@alert-success-bg; @alert-success-border; @alert-success-text);
}
.alert-info {
  .alert-variant(@alert-info-bg; @alert-info-border; @alert-info-text);
}
.alert-warning {
  .alert-variant(@alert-warning-bg; @alert-warning-border; @alert-warning-text);
}
.alert-danger {
  .alert-variant(@alert-danger-bg; @alert-danger-border; @alert-danger-text);
}
